/*global non specific css*/
.float-right {
	float: right!important;
}
.float-left {
		float: left;
}

#container {
	overflow: hidden;
}

body {
	padding: 0px;
	margin: 0;
	font-family: Roboto;
	font-weight: 300;
}

b, .bold {
	font-weight: 500;
}
/*Modal containers*/
.center {
	position: absolute;

}

/*help modal*/
#help-box {
	width: 400px;
    height: 400px;
    background-color: white;
    position: absolute!important;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 9px -1px;
}
.swiper-container {
    width: 400px;
    height: 400px;
    background-color: white;
}

.swiper-slide{
	text-align: center;
	font-size: 16px;
	background-color: #fff;
	padding-top: 50px;
}

#close-help {
    font-size: 26px;
    color: #c7c7c7;
    transition: all 0.2s ease-out;
    position: absolute;
    top: 7px;
    left: 368px;
    background-color: white;
    border-radius: 5px;
    z-index: 999999999999;
}

.box-color-red-help {
	width: 8px;
	height: 16px;
	background-color: #A3403B;
	display: inline-block;
	margin-right: 12px;
	position: relative;
    top: 1px;
}

.text-info-help {
    margin-top: 10%;
    margin-bottom: 16px;
    width: 75%;
    color: black;
    margin-left: 50px;
}

.swiper-container:hover {
	cursor: grab;
	cursor: -webkit-grab;
}

.swiper-pagination {
	bottom: 24px!important;
}

/*step bubble on modals*/

#step-bubble {
	background-color: white;
	width:70px;
	height:70px;
	color: #444444;;
	border: 2px solid white;
    -webkit-box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.07);
	box-shadow: 2px 2px 0px 3px rgba(0, 0, 0, 0.07);
	float: right;
	border-radius: 5px;
    margin-right: 21px;
    margin-top: 5px;
    box-sizing: border-box;
    padding-top:10px;
    text-align: center;
    font-size: 14px;
}

.small-letter-spacing {
	    letter-spacing: 1px;
}

.bigger-number-steps {
	font-size: 28px;
	font-weight: 500;
}

/*general modal css*/

.modal {
	border-radius: 3px;
	height: auto;
	width: auto;
	background-color: white;
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.7) 0px 1px 9px -1px;
}
#modal-1-start{
	-ms-transform: scale(0.75, 0.75); /* IE 9 */
    -webkit-transform: scale(0.75, 0.75); /* Safari */
    transform: scale(0.75, 0.75);
	display: none;
	opacity: 0;
	transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

#modal-2-people{
	display: none;
	width: 545px;

}
#modal-3-days{
	display: none;
	width: 460px;
}

#modal-4-vehicle {
	display: none;
	width: 720px;

}
#modal-5-address {
	display: none;
	width: 580px;
	transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;

}

/*Modals*/

/*Top row*/
.modal-green-radius {
		border-radius: 3px 0px 0px 0px;
}

.green-line-h{
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #54801F;
	width: 10px; 
}

.f-height {
	height: 141px;
}

.top-row-logo {
	display: block;
	height: 150px;
	background-color: white;
	border-radius: 3px 0px 0px 0px;
}


.header-container {
	box-sizing: border-box;
	padding: 15px;
	margin-left: 25px;
}

.help-bubble {
	position: relative;
	top: -118px;
	left: 233px;
	font-size: 28px;
	padding:5px;
	overflow:auto;
	width:40px;
	height:120px;
	display: block;

}
.help-bubble:hover {
	cursor: pointer;
}

/*Middle row*/
.lightgreen-line-h{
	height: 100%;
	float: left;
	display: inline-block;
	background-color: #D6DFCC;
	width: 10px;
	  position: absolute;
}
.middle-row-content {
	display: block;
	overflow: auto;
	height: auto;
	background-color: #F7F7F7;
	position: relative;
}
.text-welcome {
	padding-top: 22px;
	margin-left: 45px;
	display: block;

}
.text-mid-row {
	padding-top: 24px;
	margin-left: 45px;
	display: block;

}
.welcome-text {
	margin-left: 28px;
	width: 45%;
	text-align: center;
}
.btn-mid-row, .btn-choice {
	margin-top:2px;
	width: auto;
	padding: 13px;
	float: left;
	display: inline-block;
}

.btn-choice {
	margin: 10px 0px 10px 32px;
	width:85%;

}
.btn {
    background-color: #54801F;
    border: none;
    color: white;
    padding: 8px 9px 8px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    border-radius: 5px;
	transition: all 0.2s ease-out;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
}
.btn-light {
    background-color: white; 
    border: none;
    color: black;
    padding: 8px 9px 8px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0;
    border-radius: 5px;
	/*border: 1px solid #232323;*/
	transition: all 0.2s ease-out;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
}

.btn:hover{
	background-color: #629624;
	cursor: pointer;
}
.btn-light:hover{
	cursor: pointer;
}

/*Lower row*/

.image-row {
	min-width:328px;
	min-height: 135px;
	background-color: yellow;
	background-image: url("../img/footer-large.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px 0px 3px 3px;

}
.image-row img {
	display: block;
}

.big {
	min-height: 170px;
}

/*modal 2 - people choice*/

.radio-form {
	display: inline-block;
	margin-top: 20px;
	line-height: 2px;
}

.radio-form label{
margin-right: 5px;

}

.icon-user, .icon-date {
	margin-right: 10px;
	margin-left: 16px;
}

.icon-user {
	font-size: 24px;
}
.icon-date {
	font-size: 20px;
}

/*modal 3 - days choice*/
#specify-days-container {
	padding-top: 18px;
	overflow: auto;
	margin-left: 0px;
}

#days-form {
	margin-top: 4px;
}

#specify-days {
	width: 30px;
	height: 26px;
	font-size: 15px;
	border: 1px solid grey!important;
}

#error-days {
	display: block;
	color: red;
	margin-left: 14px;
	height: 21px;
    overflow: visible;
    margin-top: 22px;
}

#error-days:empty, #error-vehicles:empty, #error-dest:empty {
	display: none;
}

#tick-days, #tick-address-end, #tick-address-start {
	color: green;
	margin-left: 5px;
	display: none;
}

/*modal 4 - vehicle choice*/
#vehicles-container {
	margin-top: 22px;
	/*margin-bottom: 20px;*/
	display: block;
	width: 100%;
	/*background-color: yellow;*/
	box-sizing: border-box;
	padding: 0px 42px 10px 42px;
	height: auto;
	overflow: hidden;
}

.vehicle-item {
	float: left;
	width:21.5%;
	min-height: 200px;
	text-align: center;
	box-sizing: border-box; 
	letter-spacing: 3px;
	font-size: 12px;
	padding: 12px 0px 6px 0px;
	border-radius: 5px;
	margin-left: 10px;
	margin-right: 10px;
	color: #505050;
	border: 1px dotted lightgrey;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);
	box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.10);

}
.vehicle-item:hover{
	cursor: pointer;
	background-color: white;
	color: black;
	opacity: 1;
} 

.icon-vehicle {
	padding-top: 5px;
	font-size: 36px;
}

.img-icon {
	margin-top:3px;
	opacity: 0.7;
}

.v-selected {
	border: 2px dotted lightgrey;
	background-color: white;
	color: black;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
	box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.10);
}

.description-vehicle {
	color: #909090!important;
}

.small-selected{
	margin-top: 8px;
	font-size: 12px;
}

.check-box {
	color: green;
	/*margin-left:2.5%;*/
	font-size: 16px;
	position: relative;
	left: 3px;
}

#error-vehicles {
		padding: 10px 42px 0px 42px;
		color: red;
}

/*modal 5-address container*/

#address-div {
	margin-top:12px;
		margin-bottom:8px;
}

.spacer-line-height {
	padding: 6px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  }

  #origin-input,
  #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 17px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 62%;
  }
  #destination-input{
  	margin-left: 20px;
  }

  #origin-input:focus,
  #destination-input:focus {
    border-color: #4d90fe;
  }

#error-dest {
		padding: 10px 0px 0px 0px;
		color: red;
}

/*//sidebar*/

.hamburger {
	position: absolute;
	top:30px;
	left: 30px;
	font-size: 26px;
	background-color: white;
	color: #666666;
	padding: 3px 8px 3px 8px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 4px -1px;
	transition: all 0.2s ease-out;
	display: none;
}

.hamburger:hover {
	color: #333333;
	cursor: pointer;
}

#sidebar-main {
	background-color: white;
	height: auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 9px -1px;
	width: 370px!important;

}

#logo-box-sidebar {
	padding: 15px 0px 15px 42px;
	width: 143px;
}

#close-btn {
    font-size: 26px;
    color: #c7c7c7;
    transition: all 0.2s ease-out;
    margin-top: -4px;
}

#close-btn:hover, #close-help:hover {
	cursor: pointer;
	color: #333333;

} 

#content-sidebar {
	width: 100%;
	height: auto;
/*	background-color: green;*/
	padding: 20px 22px 15px 35px;
	box-sizing: border-box;
	font-size: 14px;
}

.sidebar-header {
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
	width:auto;
	margin-bottom: 36px;
}

#your-trip {
	margin-top: 7px;
}

.box-color-yellow,.box-color-red {
	width: 8px;
	height: 16px;
	background-color: #FFD966;
	float: left;
	display: inline;
	margin-right: 12px;
}
.box-color-red {
	background-color: #A3403B;
}

#info-your-details {
		margin-top:14px;
		margin-left: 18px;
}

.sidebar-subheader {
	font-weight: 500;
	color: #505050;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.icon-sidebar-trip {
	color: green;
	font-size: 16px!important;
	margin-right: 14px;

}

#your-details-info, #start-address-info, #end-address-info {
	margin-left: 26px;
}



#trip-details-header {
	margin-left: 16px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 3px;
	background-color: #f7f7f7;
	width: 160px;
	padding: 14px 20px 0px 20px;
	border-radius: 0px 3px 0px 0px;
	margin-top: 36px;

}
#trip-details-container {
	margin-left: 16px;
	background-color: #f7f7f7;
	width: 80%;
	padding: 10px 18px 12px 16px;
		color: #505050;
}

.black {
	color: black;
}

#trip-details-list{
	letter-spacing: 1px;
	text-transform: uppercase;
	padding:0px 0px 0px 20px;
	color: #505050;
}

.text-info {
	margin-top: 15px;
	margin-bottom: 16px;
	width: 85%;
	letter-spacing: 0px;
	text-transform: initial;
	color:black;
}

#sidebar-footer {
	margin-top: 36px;
	font-size: 16px;

}

.plot-another-route {
	font-weight: 500;
}

#btn-new-route {
	margin-right: 25px;
	position: relative;
	top: -9px;
}

/*map css*/

#map {
	display: inline-block;
	height: 100vh;
	width: 100vw;
	float: left;
	margin-left: 0px;
	transition: all 0.25s ease-out;
}